extends layout
block content
    h1= title
    p Welcome to #{title}
    svg#canvas(height='500px' width='800px' viewbox='0 0 800 500' xmlns='http://www.w3.org/2000/svg') 
    input#buttonAdd(value='Нажми меня' type='button' disabled )
    button(type='button'  name='Send' onclick='saveCreate(relationships)')
      | Save

    form( name="currForm")
        div.form-group
            label(for='title') first entity name:
            input#entity1Name.form-control(type='text',  name='entity1Name')
        div.form-group
            label(for='title') first entity  coords:
            input#entity1Coord.form-control(onkeyup='checkAndActivate()' type='text',  name='entity1Coord' required pattern="[0-9]+,{1}[0-9]+")
        div.form-group
            label(for='title') second entity name:
            input#entity2Name.form-control(type='text',  name='entity2Name')
        div.form-group
            label(for='title') second entity coords:
            input#entity2Coord.form-control(onkeyup='checkAndActivate()' type='text',  name='entity2Coord' required pattern="[0-9]+,{1}[0-9]+")
        div.form-group
            label(for='summary') relationship name:
            input#relationshipName.form-control(type='text', name='relationshipName')
        
    script(src='/javascripts/addViaForm.js')    
    script(src='/javascripts/simplePairDraw.js')
    script(src='/javascripts/checkAndActivate.js')
    script(src='/javascripts/saveAsync.js')