doctype html
html(lang='en')
  head

    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js")
    script(src='/javascripts/logout.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css")

  body
    nav#headerNav.uk-navbar-container(uk-navbar='' class=" uk-padding-remove")
      div.uk-navbar-left
        ul.uk-navbar-nav
          li
            a(href='http://localhost:3000/catalog/posts') Все посты
          li
            a(href='http://localhost:3000/catalog/post/create') Создать пост
          li
            a(href='#') Item
      div.uk-navbar-right
        ul.uk-navbar-nav
          li
            
            if (currUser)
                a( onclick='deleteToken()') Выйти
            if (!currUser)
                a(href='http://localhost:3000/users/login') Войти
    block content